@font-face {
    font-family: 'HSGaeulSenggak20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    width: 100%;
    margin: 0;
    overflow: hidden;

            
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#LIST{
    position: absolute;
    top: 3.6vw;
    left: 4.5vw;
    width: 21.3vw;
    height: 14.2vw;
    cursor: pointer;
    z-index: 2;
}

#LIST img{
    width: 8vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#LIST span{
    font-family: HSGaeulSenggak20;
    font-size: 3.6vw;
    height: 3.6vw;
    color: white;
    position: absolute;
    top: 50%;
    left: 10.7vw;
    transform: translateY(-50%);
}

#theme{
    position: relative;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 30vw;
    z-index: 1;
    overflow: hidden;
}
#theme > img{
    width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

/*=====section=====*/
nav{
    position: absolute;
    top: 0;
    left: -85.3vw;
    width: 85.3vw;
    height: inherit;
    background-color: aliceblue;
    z-index: 1;

    transition: 0.2s;
}

#title{
    position: absolute;
    top: 10vw;
    right: 12vw;
    transform: translateY(-50%);
    width: 39.1vw;
    text-align: center;
}
#title span{
    font: normal normal bold 3.6vw Segoe UI;
    color: rgb(142, 142, 142);
}


#move{
    position: absolute;
    top: 7.2vw;
    right: 5vw;
    width: 7.1vw;
}
#move img{
    width: 7.1vw;
}

#list{
    position: absolute;
    top: 26.7vw;
    width: inherit;
}

#list ul{
    border: 0;
    padding: 0;
    margin: 0;
}

.part_list{
    display: none;
    top: 0;
    left: 0;
}
.box{
    width: inherit;
    height: 10.7vw;
    font-size: 4.1vw;
    font-weight: 600;
    line-height: 10.7vw;

    background-color: rgb(233, 240, 247);
}

.box span{
    position: relative;
    left: 7.1vw;
}

#list li{
    list-style: none;
    position: relative;
    height: 6.2vw;
    width: inherit;
    font-size: 2.3vw;
    font-weight: 600;
    line-height: 6.2vw;

    background-color: rgb(226, 233, 240);
}

#list li label{
    position: absolute;
    left: 8.9vw;
}

#list li img{
    display: none;
    position: absolute;
    top: 50%;
    right: 5.3vw;
    transform: translateY(-50%);
    height: 4.1vw;
}





#theme:hover #move{
    left: 0;
    border-radius: 0;
}

#OPTION{
    position: absolute;
    top: 85.5%;
    left: 12.4vw;
    width: 21.3vw;
    height: 14.2vw;
    cursor: pointer;
    z-index: 1;
}

#option{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    width: 9.33vw; 
    opacity: 1;
    transition: 1s;
}
#close{
    position: absolute;
    top: 50%;
    left: 0.4vw;
    transform: translateY(-50%);
    width: 8vw;
    opacity: 0;
    transition: 0.2s;
}

#OPTION > span{
    font-family: HSGaeulSenggak20;
    font-size: 3.6vw;
    height: 3.6vw;
    position: absolute;
    top: 50%;
    left: 10.7vw; 
    transform: translateY(-50%);
}

#option_window{
    position: fixed;
    top: 177.8vw;
    left: 7.1vw;
    
    width: 53.3vw;
    height: 62.2vw;
    background-color: white;
    border-radius: 7%;
    transform: scale(0.5);
    z-index: 3;

    transition: 0.3s;
}

#OPTION:hover ~ #option_window{
    position: fixed;
    top: 172.44vw;
    transform: scale(1);
}

#option_window table{
    opacity: 0;
    width: 100%;
    text-align: center;

    transition: 0.1s;
}

#option_window table td{
    border-bottom: 1px solid #444444;
    height: 10.62vw;
}

#option_window table tr td > div{
    position: relative;
    width: inherit;
    height: inherit;
}

#level_title{
    position: absolute;
    top: 46%; 
    left: 5%;
    transform: translateY(-50%);
    display: inline-block;
    width: 26.55vw;
}
#level{
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translateY(-50%);
    width: 17.7vw;
}

#opportunity_title{
    position: absolute;
    top: 46%;
    left: 5%;
    transform: translateY(-50%);
    display: inline-block;
    width: 26.55vw;
}
#opportunity{
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translateY(-50%);
    width: 17.7vw;
}

#practice{
    position: absolute;
    top: 44%;
    left: 4.5%;
    transform: translateY(-50%);
    z-index: 3;
}
#practice_title{
    position: absolute;
    top: 46%;
    left: 5%;
    transform: translateY(-50%);
    width: 26.55vw;
    color: gray;
}
#practice_length{
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translateY(-50%);
    width: 17.7vw;
}

#section{
    position: absolute;
    top:44%;
    left: 4.5%;
    transform: translateY(-50%);
    z-index: 3;
}
#section_title{
    position: absolute;
    top: 46%;
    left: 5%;
    transform: translateY(-50%);
    width: 26.55vw;
    color: gray;
}
#section_start{
    position: absolute;
    top: 48%;
    left: 54%;
    transform: translateY(-50%);
    width: 8.14vw;
    padding: 0;
}
#section_length{
    position: absolute;
    top: 48%;
    left: 73%;
    transform: translateY(-50%);
    width: 6.2vw;
}

#section_start_search_window{
    display: none;

    position: absolute;
    top: 84.96vw;
    left: 61.95vw;

    width: 49.56vw;
    height: 56.64vw;
    background-color: #ededed;
    border-radius: 7%;
    overflow: overlay;
    z-index: 3; 
}
#section_start_search_window::-webkit-scrollbar {
    width: 6px;
}
#section_start_search_window::-webkit-scrollbar-track {
    background-color: transparent;
}
#section_start_search_window::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}
#section_start_search_window::-webkit-scrollbar-button {
    width: 0;
    height: 2.66vw;
}


#section_start_search_window table{
    opacity: 1;
    width: 100%;
    text-align: center;
}

#section_start_search_input{
    position: sticky;
    top: 0;
    background-color: #ededed;
}
#section_start_search_input td{
    height: 10.62vw;
    border-bottom: 1px solid #c2c2c2;
}
#section_start_search_input input{
    position: relative;
    transform: translateY(-10%);
    width: 36.82vw;
}

#section_start_search_window table td:not(#section_start_search_input td){
    border-bottom: 1px solid #d8d8d8;
    height: 7.08vw;
}

#section_repeat_td::before{
    content: "";
    display: block;
    width: 46.91vw;
    border-top: 1px solid #bcbcbc;
    margin: 0 0.85vw 0 auto;
    transform: translateY(-3px);
}

#START{
    position: absolute;
    top: 85.5%;
    left: 51.33vw;
    width: 21.24vw;
    height: 14.16vw;
    cursor: pointer;
}
#START img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 7.08vw; 
}
#START span{
    font-family: HSGaeulSenggak20;
    font-size: 3.54vw;
    height: 3.54vw;
    position: absolute;
    top: 50%;
    left: 8.85vw;
    transform: translateY(-50%);
}


/*=====section=====*/


section{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

#question-box{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 98vw;
    min-height: 10.62vw;

    font-size: 7.08vw;
    text-align: center;
}

#input-answer{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 88.5vw;
    height: 8.85vw;

    font-size: 5.31vw;
    text-align: center;
}