@font-face {
    font-family: 'HSGaeulSenggak20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    height: 100vh;
    margin: 0;

            
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#theme{
    position: relative;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 38vh;
    height: 15vh;
    border: 1px solid #707070;
    z-index: 1;
    overflow: hidden;
}
#move{

    position: absolute;
    top: 0;
    left: -100%;
    display:block;

    width: 100%;
    height: 100%;
    background-color: #707070;
    z-index: 2;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;

    transition-property: left, border-radius;
    transition-duration: 0.5s, 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0.09, 1.03);
    transition-delay: 0s, 0.4s;
}

#theme:hover #move{
    left: 0;
    border-radius: 0;
}

#question-box{
    position:fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vh;
    min-height: 6vh;

    font-size: 4vh;
    text-align: center;
}

#input-answer{
    position:fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vh;
    height: 5vh;
    z-index: 2;

    font-size: 3vh;
    text-align: center;
}

#option{
    opacity: 1;
    transition: 1s;
}
#close{
    opacity: 0;
    transition: 0.2s;
}

#option_window{
    position: fixed;
    top: 100vh;
    left: 4vh;
    
    width: 30vh;
    height: 35vh;
    background-color: white;
    border-radius: 7%;
    transform: scale(0.5);
    z-index: 3;

    transition: 0.3s;
}

#OPTION:hover ~ #option_window{
    position: fixed;
    top: 97vh;
    transform: scale(1);
}

#option_window table{
    opacity: 0;
    width: 100%;
    text-align: center;

    transition: 0.1s;
}

#option_window table td{
    border-bottom: 1px solid #444444;
    height: 6vh;
}

#section_start_search_window{
    display: none;

    position: absolute;
    top: 48vh;
    left: 35vh;

    width: 28vh;
    height: 32vh;
    background-color: #ededed;
    border-radius: 7%;
    overflow: overlay;
    z-index: 3; 
}
#section_start_search_window::-webkit-scrollbar {
    width: 6px;
}
#section_start_search_window::-webkit-scrollbar-track {
    background-color: transparent;
}
#section_start_search_window::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}
#section_start_search_window::-webkit-scrollbar-button {
    width: 0;
    height: 1.5vh;
}


#section_start_search_window table{
    opacity: 1;
    width: 100%;
    text-align: center;
}

#section_start_search_window table td{
    border-bottom: 1px solid #d8d8d8;
    height: 4vh;
}